button{
    font-size: 100px;
    margin-top: 250px;
    border-radius: 50px;
    background-color: green;
}
body{
    background-image: url("https://www.wwe.com/f/styles/og_image/public/all/2017/02/Rock_1920x1080--38d8f1207336bb543810ac473bb97470.jpg");
    background-size: cover;   
}